.wrap-up-section > .title-section {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 20px 0px;
}
.title-section > .sec-title {
  width: 80%;
  text-align: left;
}
.sec-title > h1 {
  margin-left: 5rem;
}
.title-section > .show-text,
.title-section > .unic-text {
  width: 50%;
  display: flex;
  justify-content: center;
}
.wrap-up-section.top-hero{
  height: 413px;
  overflow: hidden;
}
.title-section > .show-text > .hero-btn-section,
.title-section > .unic-text > .hero-btn-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 59%;
  margin: 0 auto;
}
.btn-left > button,
.btn-right > button {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: 1px solid #00000030;
  background: var(--transparent-style);
  border-radius: 50%;
}
.btn-left,
.btn-right {
  margin: 0px 5px;
}
.child-section {
  display: flex;
  margin: 12px 0px 12px 85px;
  overflow: auto hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 20px;
}
.unic-text > .hero-btn-section > .btn-title {
  display: none;
}
.child-section > .top-hero-week {
  transition: transform 1s ease;
}
.top-hero-week > .slide-week {
  position: relative;
}
.week-image > picture > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.slide-week > .week-detail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.week-image {
  width: 560px;
  height: 330px;
}
.detail-top {
  height: 80%;
  color: var(--true-white);
}
.detail-bottom {
  height: 20%;
}
.detail-top,
.detail-bottom {
  max-width: 525px;
  margin: 0 auto;
}
.detail-content {
  line-height: 30px;
}
.detail-content > p {
  font-size: 15px;
  margin-top: 12px;
}
.detail-content > h1 {
  max-width: 325px;
  line-height: 1.1099525em;
  font-size: 30px;
}
.detail-bottom > span > button {
  padding: 8px 25px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  background: var(--true-white);
  border: none;
}
.wrap-up-section > .Second-field {
  margin: 20px 80px;
  display: flex;
  overflow: clip;
  gap: 15px;
  scroll-snap-type: x mandatory;
}
.wrap-up-section.second {
  height: 470px;
  overflow: hidden;
}
.Second-field > .inside {
  display: flex;
  gap: 15px;
  overflow: auto hidden;
  margin-right: 70px;
}
.second-host-container > .image {
  width: 173px;
  height: 16em;
  border-radius: 10px;
}
.once,
.plus,
.larger > .fast-wrap {
  transition: transform 1s ease-in-out;
}
.second-host-container > .detail {
  margin: 20px 0;
}
.rate {
  color: var(--less-gray);
  font-size: 15px;
  margin: 5px 0px;
}
.price {
  margin: 5px 0px;
}
.price > p > span {
  font-weight: 400;
}
.price > p {
  font-weight: bold;
}
.fast-wrap > .size-fast {
  display: flex;
  justify-content: space-around;
}
.size-fast {
  width: 380px;
  border-radius: 15px;
  border: var(--line-push);
}
.detail > .rate > p {
  font-size: 13px;
  line-height: 2.00101em;
}
.fast-image > .image {
  width: 125px;
  height: 170px;
  border-radius: 12px;
}
.fast-detail > .likes {
  width: 100%;
  height: 35px;
}
.time-pm {
  margin-left: 6px !important;
}
.fast-image {
  margin: 10px;
}
.detail > .date {
  display: inline-flex;
}
.date > .time-am,
.date > .time-pm {
  border: 1px solid #7a7171e0;
  border-radius: 5px;
  padding: 5px;
  height: 20px;
  margin: 0 2px;
  cursor: pointer;
}
.time-am > span,
.time-pm > span {
  display: flex;
}
@media only screen and (max-width: 1120px){
  .Second-field > .inside {
  margin-right: 0px;
  }
}
@media only screen and (max-width: 1030px) {
  .sec-title > h1 {
    font-size: 18px;
  }
  .wrap-up-section.second {
    height: 455px;
  }
  .wrap-up-section.top-hero {
    height: 405px;
  }
}
@media only screen and (max-width: 950px) {
  .title-section > .unic-text > .hero-btn-section {
    width: 70%;
  }
  .sec-title > h1 {
    font-size: 18px;
  }
  .wrap-up-section.top-hero {
    height: 405px;
  }
  .Second-field > .inside {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 700px) {
  .sec-title > h1 {
    margin-left: 2rem;
    font-size: 20px;
  }
  .title-section > .unic-text > .hero-btn-section {
    width: 70%;
  }
  .child-section {
    display: flex;
    margin: 12px 0px 12px 30px;
    gap: 10px;
  }
  .week-image {
    width: 365px;
    height: 230px;
  }
  .wrap-up-section.top-hero {
    height: 305px;
  }
  .detail-top,
  .detail-bottom {
    max-width: 325px;
  }
  .detail-content {
    line-height: 25px;
  }
  .detail-content > p {
    font-size: 13px;
    margin-top: 2px;
  }
  .detail-content > h1 {
    max-width: 235px;
    font-size: 22px;
  }
  .detail-bottom > span > button {
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 13px;
  }
  .wrap-up-section > .Second-field {
    margin: 20px 30px;
  }
  .Second-field > .inside {
    gap: 10px;
    margin-right: 30px;
  }
  .size-fast {
    width: 370px;
  }
}

@media only screen and (max-width: 450px) {
  .sec-title > h1 {
    margin-left: 3rem;
    font-size: 14px;
  }
  .title-section > .unic-text > .hero-btn-section {
    width: 75%;
  }
  .btn-left > button,
  .btn-right > button {
    width: 25px;
    height: 25px;
  }
  .btn-title > p {
    font-size: 13px;
  }
  .child-section {
    margin: 12px 0px 12px 40px;
    gap: 10px;
  }
  .week-image {
    width: 275px;
    height: 175px;
  }
  .detail-top,
  .detail-bottom {
    max-width: 235px;
  }
  .once > .image {
    width: 139px !important;
    height: 220px !important;
  }
  .detail-content {
    line-height: 20px;
  }
  .detail-content > p {
    font-size: 10px;
    margin-top: 2px;
  }
  .detail-content > h1 {
    max-width: 200px;
    font-size: 15px;
  }
  .wrap-up-section.second {
    height: 430px;
  }
  .btn-left,
  .btn-right {
    margin: 0px 3px;
  }
  .Second-field > .inside {
    margin-right: 0;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }
  .detail-bottom > span > button {
    padding: 8px 10px;
    border-radius: 7px;
    font-size: 10px;
  }
  .wrap-up-section > .Second-field {
    margin: 20px auto;
    max-width: 290px;
    gap: 10px;
  }
  .second-host-container > .image {
    width: 140px;
    height: 14em;
  }
  .rate {
    font-size: 11px;
  }
  .kind-activity > p {
    font-size: 14px;
  }
  .price {
    font-size: 14px;
  }
  .size-fast {
    width: 279px;
  }
  .fast-detail > .likes {
    height: 20px;
  }
  .fast-image {
    margin: 5px;
  }
  .wrap-up-section.top-hero{
    height: 240px;
  }
  .fast-image > .image {
    width: 100px;
    height: 140px;
  }
  .detail > .rate > p {
    font-size: 11px;
  }
  .activity > p {
    font-size: 12px;
  }
  .fast-detail > .detail > .price > p {
    font-size: 15px;
  }
  .time-am > span,
  .time-pm > span {
    display: flex;
    font-size: 11px;
  }
  .date > .time-am,
  .date > .time-pm {
    height: auto;
  }
}
/* @supports (-webkit-scroll-behavior:smooth) or (-moz-scroll-behavior:smooth) or (-ms-scroll-behavior:smooth) or (scroll-behavior:smooth)
.c14whb16[class][class] {
    -moz-scroll-snap-type: var(--contentscroller_scrollsnaptype,inline mandatory);
    -moz-scroll-snap-type: var(none,inline mandatory);
    scroll-snap-type: var(--contentscroller_scrollsnaptype,inline mandatory);
} 
.child-section::-webkit-scrollbar {
  display: none;
}
/* @supports (overflow-clip-margin: 4px) {
  .second-field {
    contain: strict;
    overflow-clip-margin: 4px;
  }
}
*/
